.Resume
  .header
    a.icon_sm(href="https://github.com/ruzs" target="_blank")
    .project_g#menu
      a.project1.project_block(href="https://codepen.io/eddie10913/pen/VwzOMdB?editors=1100" target="_blank") 名片
      a.project2.project_block(href="https://github.com/ruzs" target="_blank") 作品二(未完成)
      a.project3.project_block(href="https://github.com/ruzs" target="_blank") 作品三(未完成)
    .cross
      .line1
      .line2
      .line3
    
  .container
    .top
      img.icon_main(src="https://scontent.ftpe8-1.fna.fbcdn.net/v/t1.6435-9/57564687_2624661954229489_6329819133219176448_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=4SxZazQ9khMAX_mmRUY&_nc_ht=scontent.ftpe8-1.fna&oh=00_AT-x8jCQm8Otgp5Af2S1rSt-14puMRGncwiYnM7wepVE_w&oe=620D3245", alt="icon")
      p 1994.09.13
      h2.widget_title About Me
      p 我是呂宗憲，目前在火鍋店兼職，同時也在學習前端工程師技能，曾在日本工作2年半有相關服務業經驗。
    .middle
      .left
        h2.widget_title Experience
        .timeline
          .timer
            .subtitle 2021 Sep ~ Now
            .pa 火鍋店員工 Locate at New Taipei, Taiwan
          .timer.b
            .subtitle 2020 Dec ~ 2021 Sep
            .pa 溫泉設施工作人員 Locate at Gifu, Japan
          .timer.b
            .subtitle 2020 Mar ~ 2020 Dec
            .pa 拉麵店員工 Locate at Tokyo, Japan
          .timer.b
            .subtitle 2019 Jul ~ 2020 Mar
            .pa 火鍋店員工 Locate at New Taipei, Taiwan
          .timer.b
            .subtitle 2018 Jul ~ 2019 Jul
            .pa 日本打工度假 , Japan
          .timer.b
            .subtitle 2013 Sep ~ 2018 Jun
            .pa 澎湖科技大學 電信工程系 
            
      .right
        h2.widget_title Skill
        li Html
        .line
          .linebar.html
            .linebar_s 70%
        li Css
        .line
          .linebar.css
            .linebar_s 70%
        li JavaScript
        .line
          .linebar.js
            .linebar_s 60%
        li RWD
        .line
          .linebar.rwd
            .linebar_s 80%
        li Bootstrap
        .line
          .linebar.bt
            .linebar_s 60%
        li Vue
        .line
          .linebar.vue
            .linebar_s 50%
        li Git
        .line
          .linebar.git
            .linebar_s 60%
    .bottom
      h2.widget_title Language
      .piechart_g
        .piename 台語
          .piechart 
            .block
            .block.tan1
            .block.tan2
            .inside 
              .iname 40
        .piename 英語
          .piechart
            .block
            .block.eng1
            .inside 
              .iname 50
        .piename 日語
          .piechart
            .block
            .block.jpn1
            .block.jpn2
            .block.jpn3
            .inside 
              .iname 80
  .footer
    .block1
      .footer_subtitle PHONE
        .content 09XX-XXX-XXX
    .block1
      .footer_subtitle ADDRESS
        .content New Taipei , Taiwan
    .block1
      .footer_subtitle.email E-MAIL
        .content XXXX@gmail.com
    .block1
      .footer_subtitle.web GITHUB
        .content https://github.com/ruzs